
<body>  
  <% layout("layouts/boilerplate") %> 
  <div class="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
  
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
  
    <div class="filter">
      <div><i class="fa-solid fa-building-columns"></i></div>
      <p>Colleges</p>
    </div>
  
    <div class="filter">
      <div><i class="fa-solid fa-chalkboard-user"></i></div>
      <p>Edtechs</p>
    </div>
  
    <div class="filter">
      <div><i class="fa-solid fa-utensils"></i></div>
      <p>Restaurants</p>
    </div>
    
  </div>
  
  <div class="card-container">
    <% for (let listing of allListings) { %>
      <div class="card">
        <a href="/listings/<%= listing._id %>">   <!-- This is adding functinality to make image clickable (Anchor tag )-->
          <!-- Check if the image and image.url exist -->
          <img class="card-img-top" 
               src="<%= listing.image && listing.image.url ? listing.image.url : '/path/to/default/image.jpg' %>" 
               alt="<%= listing.title %>">
        </a>
        <!-- <div class="label">Guest favourite</div>
        <div class="heart-icon">❤️</div> -->
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text">Location: <%= listing.location %></p>
          <p class="card-text">Location: <%= listing.country %></p>
          <!-- <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Details</a> -->
        </div>
      </div>
    <% } %>
  </div>
</body>
